Applications/.DS_Store
.DS_Store
Applications/.DS_Store
Applications/HR-ResumeScreening/__pycache__/utils.cpython-311.pyc
LLama2/InvoiceExtractor/__pycache__/utils.cpython-311.pyc
LLama2/MedicalBot/.chainlit
LLama2/MedicalBot/__pycache__
Applications/CSVDataAnalysis/__pycache__/utils.cpython-311.pyc
LANGCHAIN-APPS/ChatWithPDFFiles/__pycache__
LANGCHAIN-APPS/ChatWithMultiplePDF/__pycache__/model.cpython-311.pyc
